body{
    width: 1382px;
    height: 1382px;
    margin: 0;
}
header h1{
    
    width: 927px;
    height: 94px;
    font-family: 'Poppins';
    font-size: 78px;
    font-weight: 700;
    line-height: 93.6px;
    text-align: center;
    color:  #001B4B;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.75);
    margin: 10px 165px 0px 290px;
}
ul li {
    list-style-type: none;
       }
ul li h2{
   
    font-family: 'Sora';
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
    letter-spacing: -2%;
    color: black;
    text-transform: capitalize;
   
    margin:0px 0px 0px 226px;
}
ul li p{
   
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin:0px 0px 0px 212px;
}

.title-1{
    padding-left: 34.7px;
    
    height: 25px;
    width: 503px;
    
    margin:61px 590px 0px 190px;
    border-left: 5px solid black;
}
.content-1{
   
    width: 978.84px;
    height: 72px;
    margin:18px 126px 0px 212px;
}
.title-2{
    padding-left: 34.7px;
   
    width: 371px;
    height: 25px;
    margin:52px 725px 0px 190px;
    border-left: 5px solid black;
}
.content-2{
     
    width: 988px;
    height: 144px;
    margin:18px 126px  0px 212px;
}
.title-3{
    padding-left: 34.7px;
    
    width: 435.09px;
    height: 25px;
    margin:85px 669px 0px 190px;
    border-left: 5px solid black;
}
.content-3{
    
    width: 1002.31px;
    height: 144px;
    margin:18px 116px 0px 212px;
}