* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

html {
    background: linear-gradient(180deg, #FFFFFF 0%, #FACD8A 100%);
}

body {
    max-width: 996px;
    width: 100%;
    margin: 0px auto !important;
    background-color: #F4EEE4;
}

header {
    position: relative;
}

main {
    padding: 0px 65px;
}

.banner {
    position: relative;
}

.banner .img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.banner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 69%;
    height: 45%;
    background: rgba(37, 37, 37, 0.8);
    border-radius: 24px;
}

.banner_tittle {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    color: #F2972E;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 10%;
}

.banner_sub {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.menu {
    display: flex;
    width: 100%;
}

.menu_li {
    list-style: none;
    width: 20%;
    text-align: center;
}

.menu_li+.menu_li {
    border-left: 1px solid #FFFFFF;
}

.menu_a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 65px;
    background-color: #F2972E;
    display: block;
    width: 100%;
}

.menu_sub {
    position: relative;
}

.menu_sub_list {
    position: absolute;
    flex-direction: column;
}

.menu_sub_list>.menu_li {
    width: 100%;
    border-left: none;
    border-top: 1px solid #FFFFFF;
}

.menu_sub_list {
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .4s;
}

.menu_sub:hover>.menu_sub_list {
    max-height: 100vh;
}

.con {
    display: flex;
}

/* Aside */

.aside {
    margin-top: 13%;
    margin-right: 50px;
}

.member img {
    width: 144px;
}

.member {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F2972E;
}

.member .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.member .position {
    font-size: 14px;
    line-height: 20px;
    color: #F90606;
}

/* .Container */

.section {
    padding: 60px 0px;
    border-bottom: 2px solid #F2972E;
}

.section:last-child {
    border-bottom: none;
}

.section .p1 {
    margin-left: 40px;
}

.section .p2 {
    margin-top: 40px;
}

.section img {
    width: 100%;
}

.section h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
    color: black;
}

.section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.list {
    display: flex;
}

.list_item li {
    font-size: 14px;
    line-height: 30px;
    color: #000000;
}

/* Footer */

footer {
    background-color: #F2972E;;
}

footer p {
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

/* Responsive */

@media (max-width: 768px) {
    .banner_text {
        background: transparent;
    }

    .banner_tittle {
        font-size: 18px;
    }
    
    .banner_sub {
        font-size: 14px;
    }

    .navigation {
        position: fixed;
        top: 0px;
        right: -300px;
        width: 40%;
        display: flex;
        flex-direction: column;
        transition: all ease-in-out .4s;
    }

    .button_a.open+.navigation {
        right: 0;
    }

    .button_a {
        right: 20px;
        top: 20px;
        z-index: 1000;
        position: fixed;
        cursor: pointer;
    }

    .button_a span {
        border: 1px solid #000000;
        width: 25px;
        display: block;
        margin-top: 7px;
        transition: all ease-in-out .4s;
    }

    .menu {
        flex-direction: column;
    }

    .menu_li {
        width: 100%;
        border: none !important;
    }

    .menu_sub_list {
        max-height: 100vh;
    }

    .menu_a {
        color: #F2972E;
        background-color: rgba(97, 97, 97, 0.9);
    }

    .con {
        display: flex;
        flex-direction: column;
    }

    .aside {
        order: 1;
    }

    .member {
        border-bottom: none;
        border: 1px solid;
        border-radius: 30px;
    }

    .member img {
        width: 260px;
        padding-top: 20px;
        margin: 0px auto;
    }

    .member span {
        text-align: center;
    }
}

