@media (max-width: 768px) {
    html{
        background: none;
        margin: 0 auto;
    }
    
    header{
        width:100%;
    }
    
    .banner-img{
        width: 100%;
    }
    .banner-content{
        text-align: center;
        width: 100%;
        background: none;
        padding: 0;
       
    }
    .banner-title{
        font-size:18px;
        line-height: 9px;
        margin-top: 25%;
    }
    .banner-text{
        font-size:14px;
    }
    #nav {
        display: none;
    }
    .slider-text{
       
            display: flex;
            flex-direction: column;
        
    }
    .slider-img {
        order: 1;
        margin-top: -40px;
    }

    .member {
        border-bottom: none;
        border: 1px solid;
        border-radius: 30px;
        margin-left: 10px;
        width: 300px;
        margin-top: 10px;
        margin-left: -34px;
       
    }

    .member img {
        width: 260px;
        padding: 20px 24px;
        margin: 0px 0px;
    }
    .slider-title{
        margin-left: 0px;
    }
    .boder-box1 {
        border: solid 1px #F2972E;
        margin-top: 30px;
    }
    .boder-box3 {
        border: solid 1px #F2972E;
        
        margin: 30px 39px;
    }
    
    .list{
        
       display: inline-block;
       margin: 0px -40px;
       
    }
    
    footer{
        margin-top: 140px;
        padding-right: 100px;
    }
    .footer-content{
        font-size: 14px;
        line-height: 65px;

    }
}
