* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif
}
body {
    max-width: 986px;
    background-color: #F4EEE4;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
}


#header-content{
   
    height: 139px;
    background: linear-gradient(90deg, #F2BB2E 0%, #FFFFFF 40%, #FFFFFF 53%, #F2BB2E 100%);
   
    
   

}
.header-img{
    width: 90px;
    height: 80px;
    display: block;
    object-fit: cover;
    float: left;
    margin: 32px 0 27px 34px;
}
.header-title{
    text-align: center;
margin-left: -60px;
   font-style: bold;
   font-size: 35px;
   padding-top: 20px;
   background-color: linear-gradient(#F2972E);
   border-radius: 2px;
   offset: 0px, 3px;
 
   color: #F2972E;
   
   
  
}
.header-title-one{
  
text-align: center;
padding-top: 10px;
margin-left: -124px;
font-size: 20px;

  

    
}
#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
    
    }
#nav li {

position: relative;
}


#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 60px;
    background-color: #F2972E;
    color: white;
    display: inline-block;
    font-size: 16px;
   
   
}






#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
}
#nav .subnav li a {
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 0px 7px;
    display: block;
}
#slider .slider-img{
    width: 354px;
    height: 303px;
    position: absolute;
    right: 56px;
    bottom: -243px;
    left: 895px;
   

   
}
    

#slider .slider-content{
   
    display: flex;
    flex-flow: column;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 61px 50px 0 58px;;
    width: 1050px;
}
#slider .slider-content-two{
   
    display: flex;
    flex-flow: column;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 61px 50px 0 58px;;
    width: 500px;
}
.title-one{
    margin: 30px 0 20px -58px;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    
    
}

#slider .content-one{
    margin-top: 20px;
    margin-left: 100px;
}
#slider .content-two{
   
    margin-left: 100px;
}

.boder-box{
    border: solid 3px #F2972E;
    
    margin: 21px 9px;
}
#slider .slider-content-one{
    margin-top: 20px;
}
.section-3{
    column-count: 2;
    margin-left: 80px;
}

.section-one{
    margin-left: -54px;
    width: 970px;
    text-align: justify;
}
.section-content{
    margin-left: -53px;
    margin-top: 20px;
}
.footer {
    padding: 30px 0 40px;
    height: 17px;
    background-color: #F2972E;
    margin-top: 20px;
}
.copyright {
    font-size: 14px;
    color: white;
    text-align: center;
    

}

