*{
    box-sizing: border-box;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(85, 85, 85, 0.7);
}
.banner-img{
    max-width: 1492px;
    max-height: 1045px;
    object-fit: cover;
    
}
.register--login{
    width: 1200px;
    display: block; 
    padding: 75px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}
.form-display{
    display: flex;
    flex-flow: column;
    width: 50%;
}
.register--login >.form-display{
    padding:0 40px;
}
.form-display>.form-display:not(:first-child){
    padding-top: 44px;}
.form-display>.form-display input{
    width:455px;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;}

.title{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}
.form-display:first-child{
    border-right: 2px solid rgba(0, 0, 0, 1);
}
.email label, .pass label, .re_pass label{
    font-weight: 700;
    padding-bottom:14px;
   
}
.check-box{
    margin: 0;
    padding-top:28px;

}
.check-box_label{
    padding-left: 11px;
}
.hight-light-text{
    color:rgba(46, 156, 218, 1)
}
.bts{
    padding-top: 28px;
}
button{
    color: rgba(255, 255, 255, 1);
    width: 115px;
    height: 52px;
    text-align: center;
    border-radius: 8px;
    
}
.button-submit{
    background: #51B6FF;
    margin-right: 18px;
    padding: 0;

}
.button-cancel{
    background: #B7BDC1;
    padding: 0;
}
@media only screen and (max-width:1024px){
    .register--login{
        width: 700px;
        padding:20px 20px
    }
   
    .form-display>.form-display input{
        width:250px;
        height: 45px;}
    .form-display>.form-display:not(:first-child){
        padding-top: 20px;}
    .bts{
        padding-top: 15px;
        }
    .email label, .pass label, .re_pass label{
        padding-bottom:10px;
        
    }
    .title{
        font-size: 25px;
        line-height: 32px;
    }
    .check-box{
        padding-top:15px;}

    button{ 
        width: 90px;
        height: 42px;}       
}
/* @media only screen and (max-width:800px){
    *{
        font-size: 14px;
    }
    .register--login{
        width: 700px;
        padding:40px 20px
    }
   
    .form-display>.form-display input{
        width:250px;
        height: 45px;}
    .form-display>.form-display:not(:first-child){
        padding-top: 20px;}
    .bts{
        padding-top: 20px;
        }
    .email label, .pass label, .re_pass label{
        padding-bottom:6px;
        
    }
    .title{
        font-size: 20px;
        line-height: 25px;
    }
    .check-box{
        padding-top:15px;}

    button{ 
        width: 80px;
        height: 35px;}       
} */

@media only screen and (max-width:767px){
    .register--login{
        width: 400px;
        flex-flow: column;
        padding: 20px 10px;
        
    }
    .register--login >.form-display{
        padding:0 20px;}
    .form-display:first-child{
        padding-bottom: 10px;}
    .form-display{
        width: 300px;}
    .form-display>.form-display input{
        width:250px;}
    
    .form-display:first-child{
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        }
    .title{
        font-size: 20px;
        line-height: 25px;
    }
    .check-box{
        padding-top:10px;}
    button{ 
        width: 70px;
        height: 22px;}       
    
    .form-display>.form-display:not(:first-child) {
        padding-top: 10px;}
    .bts{
        padding-top: 10px;
        }
}
@media only screen and (max-width:425px){
    *{font-size: 12px;}
    .register--login{
        width: 320px;
        padding: 20px 10px; 
    }
    .register--login >.form-display{
        padding:0 10px;}
    .form-display{
        width: 280px;}
    .title{
        font-size: 18px;
    }
    .form-display>.form-display input{
        width: 250px;
        height: 30px;
    }
    button{ 
        width: 50px;
        height: 25px;} 
    }
    @media only screen and (max-width:320px){
        body{font-size: 10px;}
        .register--login{
            width: 250px;
            padding: 10px 0px;}
        .register--login >.form-display{
            padding:0 10px;}
        .form-display{
            width: 250px;}
        .title{
            font-size: 16px;
        }
        .form-display>.form-display input{
            width: 200px;
            height: 20px;
        }
    }
