* {
    box-sizing: border-box;
}
.banner {
    position: relative;
}
.banner_img {
    display: block;
    max-width: 100%;
}
.banner_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.6);
}
.banner_title {
    color: #F2972E;
    font-size: 35px;
    line-height: 50px;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}
.banner_text {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    text-align: center;
}